
.card {
	background-color: #fff;
  box-shadow: 0px 3px 9px 0px rgba(102,171,219,0.2);
	border-radius: .25em;
	width: 100%;
	box-sizing: border-box;
  display: flex;
	margin-bottom: .5em;
  transition: box-shadow .4s;
}

.card:hover {
  box-shadow: 0px 3px 9px 0px rgba(102,171,219,.6);
  transition: box-shadow .4s;
}

.card_content { 
	flex: 1 1 232px; 
	flex-direction: column;
  padding: .5em 1em .5em;
  text-decoration: none;
  color: inherit;
}	


.card_content-header { 
	display: flex;
	justify-content: space-between;
  height: 24px;
  margin-bottom: 8px;
  align-items: center;
  transition: all .2s;
}

.card_content-title { 
	display: flex;
  flex: 1 1 104px;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
}

.card_content-info {
  display: flex;
}

.info-ig,
.info-kcal {
  font-size: 10px;
  line-height: 16px;
  margin-left: 16px;
}

.card_content-food {
  position: relative;
  height: 32px;
  transition: transform .3s ease-in-out;
}

.card_content-food-visible {
  transition: transform .3s ease-in-out;
  transform: translateY(-16px);
}

.food-names {
  position: absolute;
/*  display: flex;*/
  display: none;
  list-style: none;
/*  transition: opacity .2s;*/
}

.food-names-visible {
/*  transition: opacity .2s .3s;*/
/*  opacity: 1;*/
  display: flex;
}

.food-names-top { top: -18px; left: -20px; }
.food-names-bottom { bottom: -18px; left: 24px; }

.food-name {
  width: 72px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-name-top { margin-right: 20px; }
.food-name-bottom { margin-right: 20px; }

#food1 { animation: slide-in-top    .4s .3s both; }
#food3 { animation: slide-in-top    .4s .4s both; }
#food5 { animation: slide-in-top    .4s .5s both; }
#food2 { animation: slide-in-bottom .4s .3s both; }
#food4 { animation: slide-in-bottom .4s .4s both; }


@keyframes slide-in-top {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}




.card_actions {
  box-sizing: border-box;
	color: #D7DFE8;
}

.card_actions-btn {
	padding: 8px;
  box-sizing: border-box;
  border: 0;
  line-height: 24px;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  color: #ccc;
}

.card_actions-btn:hover {
	color: #3E759B;
}

.card img {
	width: 32px;
	height: 32px;
	margin-right: .5em;
}

.hidden {
  opacity: 0;
  transition: all .2s;
}
